name: Deploy /functions to Gcloud
on:
  pull_request:
    paths: 
    - 'functions'
    - '.github/workflows/functions-deploy.yml'
  
jobs:
  build:
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #@v3.1.0
      - name: Set .env for functions
        run: echo "CENTRIFUGE_SUBGRAPH_URL=https://graph.centrifuge.io/tinlake" > functions/.env
      - name: print .env
        run: cat functions/.env
      - name: Setup Node
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 #@v3
        with:
          node-version: 16
          cache: yarn
      - name: Install Dependencies
        run: yarn install
      - name: Build
        run: yarn build:functions
      - name: Archive functions artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # @v3.1.2
        with:
          name: func-dist
          retention-days: 1
          path: functions/dist
          # !dist/**/*.md

  deployment:
    permissions:
      contents: 'read'
      id-token: 'write'  
    needs: build
    runs-on: ubuntu-latest
    # Deployment strategy:
    # prod if deploying from main branch or preview from PRs
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'development' }}
    # https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment
    env:
      region: "europe-central2"
    steps:
      - name: download the distribution package
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # @v3.0.2
        with:
          name: func-dist
      - name: Auth gcloud
        id: gauth
        uses: google-github-actions/auth@ef5d53e30bbcd8d0836f4288f5e50ff3e086997d # @v1
        with:
          workload_identity_provider: '${{ secrets.GWIP }}'
          service_account: '${{ secrets.GSA }}' # 'functions-firestore@peak-vista-185616.iam.gserviceaccount.com'    
      - name: Deploy to google functions
        id: gclouddeploy
        uses: google-github-actions/deploy-cloud-functions@14509ca55199d9348161571e36c48e44f855030d #@v1
        with:
          name: webapi-${{ github.head_ref || github.ref_name }}
          runtime: nodejs16
          region: ${{ env.region }}
          source_dir: './'
          entry_point: 'handler'
      - name: Print Gcloud functions URL
        run: echo "::notice title=Function_URL::${{ steps.gclouddeploy.outputs.url }}"
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@d51b5346f85640ec2aa2fa057354d2b82c2fcbce # v1.0.1 
      - name: Change function to allow_unathorized calls 
        shell: bash
        run: |
          gcloud functions add-iam-policy-binding ${{ needs.prepare_deploy.outputs.app_name }} \
          --region=${{ env.region }} \
          --member="allUsers" --role="roles/cloudfunctions.invoker"